body {
  font-family: "Inter";
  margin-top: 40px;
  margin-left: 15px;
  margin-right: 15px;
}

body .intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .intro .pfp {
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 25% 25%;
     object-position: 25% 25%;
  max-width: 110px;
  border-radius: 100px 100px 100px 100px;
  margin-bottom: 10px;
}

body .intro .logo {
  margin: 10px;
  width: 80px;
  height: 80px;
}

body .intro h2 {
  color: #2C3136;
  font-size: 22px;
  font-weight: 600;
  line-height: 1.3em;
  letter-spacing: -0.2px;
}

body .intro p1 {
  color: #434A54;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.4em;
}

body .intro .mhslink {
  text-decoration: none;
  background: -webkit-gradient(linear, left top, right top, from(#08225a), to(#5692b6));
  background: linear-gradient(to right, #08225a, #5692b6);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

body .intro .valolink {
  text-decoration: none;
  background: -webkit-gradient(linear, left top, right top, from(#cf865e), to(#f26321));
  background: linear-gradient(to right, #cf865e, #f26321);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

body h6 {
  color: #9CA3AF;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.5em;
  margin-bottom: 10px;
}

body .projects {
  padding-top: 15px;
  padding-bottom: 15px;
}

body .projects .single-project {
  padding-bottom: 10px;
}

body .projects .single-project .single-project-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .projects .single-project .single-project-header a {
  font-size: 15px;
  font-weight: 600;
  line-height: 1.3em;
  letter-spacing: -0.2px;
}

body .projects .single-project .single-project-header .fa-up-right-from-square {
  margin-left: 10px;
  margin-top: 3px;
  color: #9CA3AF;
  font-size: 12px;
}

body .projects .single-project p {
  color: #434A54;
  font-size: 13px;
  line-height: 1.5em;
  font-weight: 400;
}

body .projects .github-button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .projects .github-button-container button {
  cursor: pointer;
  border-radius: 5px;
  border: #30353d;
  height: 38px;
  width: 150px;
  background: #30353d;
  color: white;
  font-weight: 600;
  font-size: 14px;
}

body .projects .github-button-container button .fa-github {
  margin-left: 10px;
}

body .projects .github-button-container button:hover {
  background: black;
}

body .elsewhere .elsewhere-buttons-container {
  display: -ms-grid;
  display: grid;
}

body .elsewhere .elsewhere-buttons-container a {
  text-decoration: none;
  color: #374151;
  width: 100%;
}

body .elsewhere .elsewhere-buttons-container button {
  background: #F3F4F6;
  border-color: #0000000D;
  border-style: solid;
  border: 1px;
  padding: 8px 14px 8px 14px;
  border-radius: 4px;
  font-size: 12px;
  margin: 5px 5px 5px 5px;
}

body .elsewhere .elsewhere-buttons-container button:hover {
  cursor: pointer;
  background-color: #d4d4d6c0;
}

body .elsewhere .elsewhere-buttons-container .fa-brands {
  margin-right: 10px;
}

body .elsewhere .elsewhere-buttons-container .instagram {
  -ms-grid-column: 1;
      grid-column-start: 1;
}

body .elsewhere .elsewhere-buttons-container .facebook {
  -ms-grid-column: 2;
      grid-column-start: 2;
}

body .footer {
  margin-top: 50px;
}

body .footer p {
  font-size: 13px;
  color: #9CA3AF;
}

@media (min-width: 750px) {
  body {
    margin-top: 40px;
    margin-left: 15px;
    margin-right: 15px;
  }
  body .intro {
    display: block;
  }
  body .intro h2 {
    color: #2C3136;
    font-size: 22px;
    font-weight: 600;
    line-height: 1.3em;
    letter-spacing: -0.2px;
  }
  body .intro p1 {
    color: #434A54;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.4em;
  }
  body .intro .pfp {
    width: 100px;
    height: 100px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 25% 25%;
       object-position: 25% 25%;
    max-width: 110px;
    border-radius: 100px 100px 100px 100px;
    margin-bottom: 10px;
  }
  body .intro .logo {
    display: none;
    width: 100px;
    height: 100px;
  }
}

@media (min-width: 1025px) {
  body {
    margin-top: 40px;
    margin-left: 15px;
    margin-right: 15px;
  }
  body .intro {
    display: block;
  }
  body .intro h2 {
    color: #2C3136;
    font-size: 22px;
    font-weight: 600;
    line-height: 1.3em;
    letter-spacing: -0.2px;
  }
  body .intro p1 {
    color: #434A54;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.4em;
  }
  body .intro .pfp {
    width: 100px;
    height: 100px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 25% 25%;
       object-position: 25% 25%;
    max-width: 110px;
    border-radius: 100px 100px 100px 100px;
    margin-bottom: 10px;
  }
  body .intro .logo {
    display: none;
    width: 100px;
    height: 100px;
  }
}
/*# sourceMappingURL=main.css.map */